body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 111); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white; 
}

h1 {
    text-align: center;
    color: #fff;
}

.container1, .container2 {
    text-align: center;
    background-color: #fff; 
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px; 
}

h2 {
    color: rgb(5, 5, 111); 
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: rgb(5, 5, 111); 
}

input {
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid rgb(5, 5, 111);
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: rgb(5, 5, 111);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
}

button:hover {
    background-color: rgb(10, 10, 150);
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(5, 5, 111);
    padding: 10px 20px;
    border-radius: 4px;
    width: 300px;
}

a:hover {
    background-color: rgb(10, 10, 150);
}
