body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container1, .container2 {
    margin-bottom: 20px;
}

.container1 h2, .container2 h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="text"] {
    display: block;
    padding: 5px;
    width: 200px;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #f0f0f0;
}

input[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#maindiv {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

#left-content {
    width: 20%;
}

#right-content {
    width: 70%;
}
    #btnclearcart {
        float: right; /* Align the button to the right side */
        margin: 10px 0; /* Add some spacing */
    }


#itemstable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#itemstable td, #itemstable th {
    padding: 8px;
    border: 1px solid #ddd;
}

#buttonsdiv button {
    display: block;
}

@media (max-width: 1300px) { /* Adjust the breakpoint */
    #maindiv {
        flex-wrap: wrap; /* Stack items vertically */
    }

    #left-content, #right-content {
        width: 100%; /* Full width on small screens */
    }

    #right-content {
        width: 100%;
        margin-top: 20px; /* Add spacing when stacked */
    }
}


